body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: gainsboro;
}

figcaption {
  text-align: center;
  font-size: small;
}

#featured-property {
  text-align: center;
  width: 800px;
}

#details{
  display: block;
  float: left;
}

div {
  display: inline-block;
  text-align: center;
  background-color: gainsboro;
  
}
